<p class="category">Pick your style</p>
<div class="row">
  <div class="col-md-10">
    <button class="btn btn-primary" type="button">Default</button>
    <button class="btn btn-primary btn-round" type="button">Round</button>
    <button class="btn btn-primary btn-round" type="button">
      <i class="tim-icons icon-heart-2"></i> With Icon
    </button>
    <button class="btn btn-primary btn-icon btn-round" type="button">
      <i class="tim-icons icon-heart-2"></i>
    </button>
    <button class="btn btn-primary btn-simple btn-round" type="button">Simple</button>
  </div>
</div>


<p class="category">Pick your size</p>

<div class="row">
<div class="col-md-10">
  <button class="btn btn-primary btn-sm">Small</button>
  <button class="btn btn-primary">Regular</button>
  <button class="btn btn-primary btn-lg">Large</button>
</div>
</div>


<p class="category">Pick your color</p>

<div class="row">
<div class="col-md-12">
  <button class="btn">Default</button>
  <button class="btn btn-primary">Primary</button>
  <button class="btn btn-info">Info</button>
  <button class="btn btn-success">Success</button>
  <button class="btn btn-warning">Warning</button>
  <button class="btn btn-danger">Danger</button>
  <button class="btn btn-neutral">Neutral</button>
</div>
</div>

<br/>

<h3>Links</h3>

<div class="row">
<div class="col-md-8">
  <button class="btn btn-link">Default</button>
  <button class="btn btn-link btn-primary ">Primary</button>
  <button class="btn btn-link btn-info">Info</button>
  <button class="btn btn-link btn-success">Success</button>
  <button class="btn btn-link btn-warning">Warning</button>
  <button class="btn btn-link btn-danger">Danger</button>
</div>