   <!--                 social buttons		         -->
          
  
    <div class="row">
      
      <div class="col-md-4 col-sm-5">
        <p class="category">Default</p>
        <button class="btn btn-twitter">
          <i class="fab fa-twitter"></i> Connect with Twitter
        </button>
      </div>
      
      <div class="col-md-1 col-sm-1">
        <p class="category">&nbsp;</p>
        <button class="btn btn-icon btn-twitter">
          <i class="fab fa-twitter"></i>
        </button>
      </div>
      
      <div class="col-md-1 col-sm-1">
        <p class="category">&nbsp;</p>
        <button class="btn btn-icon btn-round btn-twitter">
          <i class="fab fa-twitter"></i>
        </button>
      </div>
      
      <div class="col-md-1 col-sm-1">
        <p class="category">Neutral</p>
        <button class="btn btn-icon btn-simple btn-twitter">
          <i class="fab fa-twitter"></i>
        </button>
      </div>
      
      <div class="col-md-3 col-sm-4">
        <p class="category">&nbsp;</p>
        <button class="btn btn-simple btn-twitter">
          <i class="fab fa-twitter"></i> Connect with Twitter
        </button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <button class="btn btn-facebook">
          <i class="fab fa-facebook-square"></i> Share · 2.2k
        </button>
      </div>
      
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-facebook">
          <i class="fab fa-facebook"> </i>
        </button>
      </div>
     
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-round btn-facebook">
          <i class="fab fa-facebook"> </i>
        </button>
      </div>
      
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-simple btn-facebook">
          <i class="fab fa-facebook-square"> </i>
        </button>
      </div>
      
      <div class="col-md-3 col-sm-4">
        <button class="btn btn-simple btn-facebook">
          <i class="fab fa-facebook-square"></i> Share · 2.2k
        </button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <button class="btn btn-google">
          <i class="fab fa-google"></i> Share on Google+
        </button>
      </div>
     
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon  btn-google">
          <i class="fab fa-google"> </i>
        </button>
      </div>
     
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-round btn-google">
          <i class="fab fa-google"> </i>
        </button>
      </div>
      
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-simple btn-google">
          <i class="fab fa-google"> </i>
        </button>
      </div>
     
      <div class="col-md-3 col-sm-4">
        <button class="btn btn-simple btn-google">
          <i class="fab fa-google"></i> Share on Google+
        </button>
      </div>
    </div>
   
    <div class="row">
      
      <div class="col-md-4 col-sm-5">
        <button class="btn btn-linkedin">
          <i class="fab fa-linkedin"></i> Connect with Linkedin
        </button>
      </div>
      
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon  btn-linkedin">
          <i class="fab fa-linkedin"></i>
        </button>
      </div>
      
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-round btn-linkedin">
          <i class="fab fa-linkedin"></i>
        </button>
      </div>
      
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-simple btn-linkedin">
          <i class="fab fa-linkedin"></i>
        </button>
      </div>
     
      <div class="col-md-3 col-sm-4">
        <button class="btn btn-simple btn-linkedin">
          <i class="fab fa-linkedin"></i> Connect with Linkedin
        </button>
      </div>
    </div>
   
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <button class="btn btn-pinterest">
          <i class="fab fa-pinterest"></i> Pint it · 212
        </button>
      </div>
     
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-pinterest">
          <i class="fab fa-pinterest"></i>
        </button>
      </div>
    
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-round btn-pinterest">
          <i class="fab fa-pinterest"></i>
        </button>
      </div>
     
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-simple btn-pinterest">
          <i class="fab fa-pinterest"></i>
        </button>
      </div>
     
      <div class="col-md-3 col-sm-4">
        <button class="btn btn-simple btn-pinterest">
          <i class="fab fa-pinterest"></i> Pint it · 212
        </button>
      </div>
    </div>
   
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <button class="btn btn-youtube">
          <i class="fab fa-youtube"></i> View on Youtube
        </button>
      </div>
    
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-youtube">
          <i class="fab fa-youtube"> </i>
        </button>
      </div>
    
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-round btn-youtube">
          <i class="fab fa-youtube"> </i>
        </button>
      </div>
    
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-simple btn-youtube">
          <i class="fab fa-youtube"> </i>
        </button>
      </div>
      
      <div class="col-md-3 col-sm-4">
        <button class="btn btn-simple btn-youtube">
          <i class="fab fa-youtube"></i> View on Youtube
        </button>
      </div>
    </div>
   
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <button class="btn btn-tumblr">
          <i class="fab fa-tumblr-square"></i> Repost
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon  btn-tumblr">
          <i class="fab fa-tumblr-square"> </i>
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-round btn-tumblr">
          <i class="fab fa-tumblr-square"> </i>
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-simple btn-tumblr">
          <i class="fab fa-tumblr-square"> </i>
        </button>
      </div>
      <div class="col-md-3 col-sm-4">
        <button class="btn btn-simple btn-tumblr">
          <i class="fab fa-tumblr-square"></i> Repost
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <button class="btn btn-github">
          <i class="fab fa-github"></i> Connect with Github
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon  btn-github">
          <i class="fab fa-github"></i>
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-round btn-github">
          <i class="fab fa-github"></i>
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-simple btn-github">
          <i class="fab fa-github"></i>
        </button>
      </div>
      <div class="col-md-3 col-sm-4">
        <button class="btn btn-simple btn-github">
          <i class="fab fa-github"></i> Connect with Github
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <button class="btn btn-behance">
          <i class="fab fa-behance-square"></i> Follow us
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon  btn-behance">
          <i class="fab fa-behance"></i>
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-round btn-behance">
          <i class="fab fa-behance"></i>
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-simple btn-behance">
          <i class="fab fa-behance"></i>
        </button>
      </div>
      <div class="col-md-3 col-sm-4">
        <button class="btn btn-simple btn-behance">
          <i class="fab fa-behance-square"></i> Follow us
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <button class="btn btn-dribbble">
          <i class="fab fa-dribbble"></i> Find us on Dribble
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon  btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-round btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-simple btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </button>
      </div>
      <div class="col-md-3 col-sm-4">
        <button class="btn btn-simple btn-dribbble">
          <i class="fab fa-dribbble"></i> Find us on Dribble
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <button class="btn btn-reddit">
          <i class="fab fa-reddit"></i> Repost · 232
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon  btn-reddit">
          <i class="fab fa-reddit"></i>
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-round btn-reddit">
          <i class="fab fa-reddit"></i>
        </button>
      </div>
      <div class="col-md-1 col-sm-1">
        <button class="btn btn-icon btn-simple btn-reddit">
          <i class="fab fa-reddit"></i>
        </button>
      </div>
      <div class="col-md-3 col-sm-4">
        <button class="btn btn-simple btn-reddit">
          <i class="fab fa-reddit"></i> Repost · 232
        </button>
      </div>
    </div>

  <!--                 end social buttons -->